<div id="accountLoginForm"
  layout="column">

  <form name="accountLoginForm">

    <div>

      <md-input-container>

        <label>Email address</label>
        <input name="email"
          type="email"
          ng-model="user.email"
          required>
<!-- 
        <div ng-messages="accountLoginForm.email.$error"
          role="alert"
          multiple>

          <div ng-message="required"
            class="my-message">
            You must supply an email address
          </div>

        </div> -->

      </md-input-container>

    </div>
  
    <div>

      <md-input-container>

        <label>Password</label>
        <input name="password"
          type="password"
          ng-model="user.password"
          required><!-- 

        <div ng-messages="accountLoginForm.password.$error"
          role="alert"
          multiple>

          <div ng-message="required"
            class="my-message">
            You must enter your password
          </div>

        </div> -->

      </md-input-container>

    </div>

  </form>

</div>