<section id="products"
  class="state-section"
  layout="column"
  layout-fill>
  
  <header ng-model="$products.header"
    page-header>
  </header>

  <div style="width:100%;"
    class="state-content-root"
    md-theme="clearContent"
    flex>

    <md-content style="overflow-x:hidden;">

      <div class="state-content"
        layout="row">

        <ul>
          <li ng-repeat="$product in $products.catalogue.data.products">
            {{ $product.headline }}
            <span ng-bind="$products.listPrice($product).toString()"></span>
          </li>
        </ul>

      </div>

    </md-content>
  
    <footer page-footer>
    </footer>

  </div>

</section>