<section id="contact"
  layout-align="start center"
  layout="column"
  layout-fill>
  
  <header>

    <div layout="row"
      layout-align="start center">

      <div flex></div>

      <div style="width:960px;z-index:10;"
        layout-align="center center"
        layout>

        <md-icon class="material-icons"
          style="font-size:36px;height:36px;width:36px;margin-right:16px;">
          chevron_right
        </md-icon>

        <h1 id="headline">
          <span>Contact Us</span>
        </h1>

        <div flex></div>

      </div>

      <div flex></div>

    </div>

  </header>

  <div style="width:100%;"
    md-theme="clearContent"
    flex>

    <md-content md-whiteframe="3"
      layout-fill>

      <div layout="row"
        layout-align="start center">

        <div flex></div>

          <div style="margin:16px;padding:24px;background-color:#fff;"
            md-whiteframe="1"
            flex-gt-xs>

            Foo

          </div>

          <div style="margin:16px;padding:24px;background-color:#fff;"
            md-whiteframe="1"
            flex-gt-xs>

            Bar

          </div>

          <div style="margin:16px;padding:24px;background-color:#fff;"
            md-whiteframe="1"
            flex-gt-xs>

            Baz

          </div>

        <div flex></div>

      </div>
      
    </md-content>

  </div>

</section>
