<section id="services"
  class="state-section"
  layout-align="start center"
  layout="column"
  layout-fill>

  <header ng-model="$services.header"
    page-header>
  </header>

  <div class="service-hero"
    style="width: 100%;border-top:1px solid rgba(255,255,255,0.12);"
    ng-style="$services.heroStyle">

    <div style="background:linear-gradient(to top left,#4527A0 0%,#D81B60 100%);"
      layout-align="center center"
      layout-fill
      layout>

      <div style="width:1010px;padding:24px;"
        layout="column"
        layout-align="end stretch">

        <div>
          <div style="margin-top: 24px;padding-top: 8px;"
            layout-align="start start"
            layout-xs="column"
            layout="row">
            <div>
              <p class="md-display-4" style="font-weight: 200;font-family: 'Signika Negative',Roboto,sans-serif;margin: 8px;color: rgba(255,255,255,1);">
                We do
              </p>
            </div>
            <div class="flex"></div>
          </div>
        </div>

        <div flex="">

          <div layout-xs="column"
            layout="row"
            layout-wrap>

            <div flex-gt-xs="33"
              ng-repeat="$group in $services.groups.data.groups"
              flex-xs>

              <md-card class="service-group">

                <div class="card-header"
                  style="overflow:hidden;position:relative;">

                  <div ng-if="'WP' === $group.code"
                    style="position:absolute;bottom:-24px;right:-12px;">
                    <span style="font-size:86px;opacity:0.2;"
                      class="socicon socicon-wordpress">
                    </span>
                  </div>

                  <h4 class="md-display-1"
                    ng-bind="$group.label"></h4>

                  <p class="md-caption"
                    ng-bind="$group.tag_line"></p>

                </div>

                <md-card-actions layout-align="end center"
                  layout="row">

                  <span class="md-caption"
                    style="margin-left: 8px;font-family:'Ubuntu';color: rgba(0,0,0,0.57);">
                    From &dollar;35 /hr +GST
                  </span>

                  <span flex></span>

                  <a href="/contact"
                    md-button
                    aria-label="View">
                    Details
                    <md-icon class="material-icons">chevron_right</md-icon>
                  </a>

                </md-card-actions>

              </md-card>

            </div>

          </div>

        </div>

        <div>
          <div style="margin-top: 24px;padding-top: 8px;"
            layout-align="start end"
            layout-xs="column"
            layout="row">
            <div>
              <p class="md-display-1" style="font-weight: 200;font-family: 'Signika Negative',Roboto,sans-serif;margin: 8px;color: rgba(255,255,255,0.7);">
                Awesome software, <em>built just for you.</em>
              </p>
            </div>
            <div class="flex"></div>
            <div style="margin-top:24px;">
              <md-icon class="material-icons"
                style="height:36px;line-height:36px;">
                chevron_right
              </md-icon>
              <a href="/contact" class="md-button md-raised md-accent cta">
                <md-icon class="material-icons">mail</md-icon>
                &nbsp;Contact us
              </a>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div style="width:100%;"
    class="state-content-root"
    md-theme="clearContent"
    flex>

    <md-content style="overflow-x:hidden;">

      <div class="state-content"
        layout-align="start center"
        layout="row">

        <div flex></div>

        <div style="width:1010px;padding:16px;"
          layout="column">

          <div flex>
            <div layout="column"
              style="margin:16px;background:#fff;border-top: 5px solid rgb(2,136,209);"
              md-whiteframe="2">

              <div style="padding:16px;background-color:#f5f5f5;border-bottom:1px solid rgba(0,0,0,0.12);">
                <p style="margin: 0;font-size: 2em;color: rgb(2,136,209);font-family: 'Signika Negative',Roboto,sans-serif;font-weight: 600;">Join our mailing list</p>
                <p style="font-family: 'Signika Negative',Roboto,sans-serif;margin-bottom:0;">To stay informed about new products, services, and promotions.</p>
              </div>

              <div style="padding:16px;">
                <newsletter-form></newsletter-form>
              </div>

            </div>
          </div>

          <div style="display: none;"
            flex>
            <div class=""
              style="margin:16px;"
              md-whiteframe="2">
              Foo
            </div>
          </div>

        </div>

        <div flex></div>

      </div>

      <footer page-footer>
      </footer>

    </md-content>

  </div>

</section>
