<div class="newsletter-optin-form-container">
  <div class="newsletter-optin-form-content"
    layout="column">

    <md-progress-linear class=""
      ng-if="$newsletter.progressElVisible"
      md-mode="indeterminate">
    </md-progress-linear>

    <form name="optinForm"
      ng-submit="$newsletter.submit($event)">

      <div class=""
        layout="row"
        layout-xs="column"
        layout-align="start stretch">

        <md-input-container flex="10"
          flex-xs="100">

          <label>Title</label>

          <md-select name="namePrefix"
            ng-model="$newsletter.data.namePrefix"
            ng-disabled="true === $newsletter.isLocked"
            tab-index="1"
            required>
            <md-option value="Mr">Mr.</md-option>
            <md-option value="Mrs">Mrs.</md-option>
            <md-option value="Ms">Ms.</md-option>
            <md-option value="Miss">Miss</md-option>
          </md-select>

          <div ng-messages="optinForm.namePrefix.$error">
            <div ng-message="required">Your title is required</div>
          </div>

        </md-input-container>

        <md-input-container flex="20"
          flex-xs="100">

          <label>Given name</label>

          <input name="givenName"
            ng-model="$newsletter.data.givenName"
            ng-disabled="$newsletter.isLocked"
            ng-focus="true"
            tab-index="2"
            required>

          <div ng-messages="optinForm.givenName.$error">
            <div ng-message="required">Your given name is required</div>
          </div>

        </md-input-container>

        <md-input-container flex="20"
          flex-xs="100">

          <label>Family name</label>

          <input name="familyName"
            ng-model="$newsletter.data.familyName"
            ng-disabled="$newsletter.isLocked"
            ng-focus="true"
            tab-index="3"
            required>

          <div ng-messages="optinForm.familyName.$error">
            <div ng-message="required">Your family name is required</div>
          </div>

        </md-input-container>

        <md-input-container flex="35"
          flex-xs="100">

          <label>Email address</label>

          <input name="contactEmail"
            type="email"
            minlength="10" 
            maxlength="100" 
            ng-pattern="/^.+@.+\..+$/"
            ng-model="$newsletter.data.contactEmail"
            tab-index="4"
            ng-disabled="$newsletter.isLocked"
            required>

          <div ng-messages="optinForm.contactEmail.$error">
            <div ng-message="required">Email address is required</div>
            <div ng-message="pattern">Invalid or incomplete address</div>
          </div>

        </md-input-container>
        
        <div flex="15"
          flex-xs="100"
          layout>
          
          <div ng-if="$newsletter.isDone"
            layout-align="start center"
            layout="row"
            layout>
            
            <md-icon class="material-icons"
              style="color:#8BC34A;margin-right:8px;">
              check
            </md-icon>
            
            <span>Subscription sorted!</span>

          </div>

          <md-button type="submit"
            class="md-raised"
            tab-index="5"
            ng-hide="$newsletter.isDone"
            ng-disabled="$newsletter.isLocked"
            flex>
            <span>Subscribe</span>
          </md-button>

        </div>

      </div>

    </form>

  </div>
</div>