<div layout="row"
  layout-align="start center">

  <div flex></div>

  <div style="width:1010px;z-index:10;padding:0px 24px;"
    layout-align="center center"
    layout>

    <md-icon class="material-icons"
      style="font-size:36px;height:36px;width:36px;margin-right:16px;"
      ng-bind="$pageHeader.icon">
    </md-icon>

    <h1 id="headline">
      <span ng-bind="$pageHeader.headline"></span>
    </h1>

    <div flex></div>

    <div class="md-body-1">
      <div ng-if="$pageHeader.sso.isLoggedIn">
        Logged in as
        <span>{{ $pageHeader.sso.userFullName }}</span>
        <md-button ng-click="$pageHeader.logout($ev)">
          Logout
        </md-button>
      </div>
      <div ng-if="!$pageHeader.sso.isLoggedIn">
        Not logged in
        <md-button ng-click="$pageHeader.login($ev)">
          Login
        </md-button>
      </div>
    </div>

  </div>

  <div flex></div>

</div>
