<md-sidenav class="md-sidenav-left"
  md-component-id="left"
  md-whiteframe="4">

  <md-content layout-padding>
  
    <!-- Vertical Sidebar Site Menu -->
    <div class="main-menu">

      <div layout="column"
        layout-align="start stretch">
      
        <div>
          <a href="/"
            ng-click="$webAppRoot.toggleSidenav()"
            class="md-button md-icon-button">
            <md-icon class="material-icons"
              style="margin-right:8px;">
              home
            </md-icon>
          </a>
        </div>
      
        <a href="{{ $itm.href }}"
          class="md-button {{ $itm.class }}"
          ng-click="$webAppRoot.toggleSidenav()"
          ng-repeat="$itm in $webAppRoot.menuItems">
          <span ng-bind="$itm.label"></span>
        </a>

      </div>

    </div>
    <!-- Vertical Sidebar Site Menu -->

  </md-content>

</md-sidenav>

<div layout="column"
  layout-fill>

  <md-toolbar id="toolbar"
    class="md-hue-2"
    md-whiteframe="2">

    <div class="md-toolbar-tools"
      layout-align="center center">

      <div style="width: 960px;"
        layout="row">

        <!-- Eviratec Logo -->
        <div layout="row"
          layout-align="center center">

          <img src="images/logov7c-dist.png"
            style="height:36px;width:36px;"
            title="Eviratec Logo" />

          <h2 class="md-body-1"
            style="text-transform: uppercase;">
            Eviratec
          </h2>

        </div>
        <!-- Eviratec Logo -->

        <div flex></div>

        <md-button class="md-icon-button"
          ng-click="$webAppRoot.toggleSidenav()"
          hide-gt-xs>
          <md-icon>menu</md-icon>
        </md-button>

        <!-- Horizontal Site Menu -->
        <div class="h-main-menu"
          hide-xs>

          <div layout="row"
            layout-align="center center">
          
            <a href="/"
              class="md-button md-icon-button">
              <md-icon class="material-icons"
                style="margin-right:8px;">
                home
              </md-icon>
            </a>
          
            <a href="{{ $itm.href }}"
              class="md-button {{ $itm.class }}"
              ng-repeat="$itm in $webAppRoot.menuItems">
              <span ng-bind="$itm.label"></span>
            </a>

          </div>

        </div>
        <!-- Horizontal Site Menu -->

      </div>
    
    </div>

  </md-toolbar>

  <md-content id="stageContent"
    layout="column"
    flex>

    <div class="content-ui-view"
      ng-animate="'view'"
      ui-view
      flex>
    </div>

  </md-content>

</div>